
@font-face {
    font-family: Digital7;
    src: url(digital-7/digital-7.ttf);
}

@font-face {
    font-family: Alkhemikal;
    src: url(Alkhemikal.ttf);
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container */
}

.picture {
    width: 100%;
    height: auto;
    display: block;
}

#timer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 23%; /* Adjust this value to position the timer vertically */
    padding-left: 12%;
}

#timer {
    font-family: Digital7;
    font-size: 10vw; /* Responsive font size */
    color: rgb(191, 34, 20);
    line-height: 1;
}

.taskElement, input.taskElement, label.taskElement {
    font-family: Alkhemikal;
    font-size: 70px;
    height: 60px;
    border: none;
    background-color: none;
    /* background-color: rgb(108, 94, 94); */
    color: rgb(99, 0, 0);
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

.setMinText {
    font-size: 25px;
    font-family: Alkhemikal;
    color:black;
    padding: 10px 20px;
    border-width: 5px;
    border-color: black;
    margin-left: 60px;
}

input[type="number"] {
    width: 70px;
    font-size: 25px;
    font-family: Digital7;
    padding: 10px;
    background-color: rgb(130, 43, 36);
}

button {
    font-size: 25px;
    font-family: Alkhemikal;
    background-color: rgb(130, 43, 36);
    color:black;
    padding: 10px 20px;
}

#defuseButton
{
    display: none;
    position: relative;
    width: 100%;
    max-width: 100px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container */
}